body {
	background: #EFEFEF;
	padding: 0px;
	margin: 0px;
	min-width: 410px;
}

a {
	text-decoration: none;
}

p.title {
	background: white;
	font-weight: bold;
	padding: 5px;
	margin: 0px;
}

form.commonform {
	padding: 15px 15px 0px 15px;
}

div.loading {
	margin: auto; 
	width: 180px; 
	font-weight: bold; 
	overflow: hidden; 
	display: none;
}

div.loading > p > img {
	vertical-align: middle;
}

div.loading > p {
	margin-left: 10px; 
	padding: 0px;
	margin: 0px;
}

div.photos img {
	border: 5px solid white;
}

div.photos img:hover {
	border: 5px solid #CCC;
}

