body {
  min-width: 920px;
  font-family: Verdana, sans;
  font-size: .9em;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

hr {
  clear: both;
}

p.intro {
	margin-left: 25px;
}
