ul.hmenu {
	padding: 0px;
	list-style: none;
	text-align: center;
	width: 100%;
	margin: 1.45em 0;
}

ul.hmenu > li {
	display: inline-block;
	width: 16%;
}

ul.hmenu > li > a {
	text-decoration: none;
}

ul.hmenu > li.active {
	background: #EFEFEF;
	border: 2px solid #CCC;
}

div#header a {
	text-decoration: none;	
}

a.male, a.female {
  float: left;
  border: 2px solid #CCC;
  font-size: 1.3em;
  padding: 0px 30px;
  margin-right: 5px;
}

a.male {
  background: url(/site_media/images/male.png) no-repeat #E6E6E6;
}

a.female {
  background: url(/site_media/images/female.png) no-repeat #E6E6E6;
}

div#map {
	width: 800px;
	height: 480px;
}

div.mapinfo {
	display: none;
}

div.vcard {
	border: 4px dotted #CCC;
	background: #EFEFEF;
	padding: 5px;
}

div.vcard ul {
	list-style: none;
}

div#photos > a > img {
	float: left;
	margin: 5px;
	border: 4px solid black;
}

div.center {
	text-align: center;
}

ul.cleanul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

select#id_country > option[disabled=disabled] {
  font-weight: bold;
  background: #ECECEC;
}

div.calendar {
	line-height: 1em;
}

div.calendar a {
	text-decoration: none;
}

div.calendar th, div.calendar td {
	padding: 0px;
	text-align: center;
	padding: 3px 0px;
}

div.calendar select {
	margin: 0px;
}
