body {
  min-width: 920px;
  font-family: Verdana, sans;
  font-size: .9em;
  margin: 0px;
  padding: 0px;
}

div.vcard {
	background: #EFEFEF;
	padding: 5px;
	float: left;
	border: 4px dotted grey;
	margin: 15px;
	overflow: hidden;
}

div.usercard {
	width: 250px;
}

div.vcard > ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

div.vcard > img.gender {
	float: right;
}

a {
	text-decoration: none;
	color: grey;
}

a:hover {
	text-decoration: underline;
}


div.content {
	padding: 15px;
}

div.header {
	background: #CCC;
	padding: 10px;
}

div.header a {
	color: white;
}

ul.menu {
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size: 1.2em;
}

ul.menu li {
	display: inline;
	padding-right: 15px;
}

p.register a {
	font-size: 1.3em;
}

form.commonform > fieldset > div > strong {
	font-weight: bold;
	font-size: 1.4em;
}

form.commonform > fieldset {
	border: 0px solid;
}

form.commonform > fieldset > div {
	overflow: hidden;
	clear: both;
	margin: 2px;
}

form.commonform > fieldset > div > textarea {
  padding: 4px;
  background-color: #EFEFEF;
  border: 2px solid #CCC;
  padding-left: 8px;
  width: 400px;
}

form.commonform > fieldset > div > label {
	float: left;
	width: 150px;
	line-height: 28px;
	text-align: right;
	margin-right: 5px;
}

form.commonform > fieldset > p {
	clear: both;
	margin: 5px;
	overflow: hidden;
}

form.commonform > fieldset > div > input[type=text], form.commonform > fieldset > div > input[type=password] {
	float: left;
	background: #EFEFEF;
	width: 200px;
	font-size: 1.2em;
	height: 24px;
	padding-left: 5px;
	line-height: 24px;
	border: 2px solid #CCC;
}

form.login > fieldset > input[type=submit] {
	margin-left: 300px;
}

form.registration > fieldset > input[type=submit] {
	margin-left: 280px;
}

form.pwdchg > fieldset > div > input[type=submit] {
	margin-left: 210px;
}

form.emailchg fieldset > div > input[type=submit] {
	margin-left: 360px;
}

form.emailchg fieldset > div > input[type=text] {
	width: 300px;
}

form.pwdchg > fieldset > div > label {
	width: 150px;
}

form.login p.lostpw {
	margin: 0px;
	font-size: 0.7em;
	margin-left: 170px;
}

form.passwd > fieldset > div > input[type=text] {
	width: 300px;
}

form.passwd > fieldset > div > input[type=submit] {
	margin-left: 340px;
}

form.profile > fieldset > div > select {
	float: left;
}

p.error {
	background: #f06f5c;
	width: 100%;
	font-size: 1.3em;
	text-align: center;
}

form.commonform > fieldset > div > img {
	display: none;
	float: left;
}

a.male, a.female {
  color: black;
  float: left;
  width: 80px;
  border: 2px solid #CCC;
  font-size: 16px;
  padding: 0px;
  padding-left: 30px;
  margin-right: 5px;
  line-height: 24px;
}

a.male {
  background: url(/site_media/images/male.png) no-repeat #E6E6E6;
}

a.female {
  background: url(/site_media/images/female.png) no-repeat #E6E6E6;
}

div#map {
	float: left;
  width: 640px;
  height: 380px;
}

div.calendar {
	float: left;
}

hr {
  clear: both;
}

div.avatar > a.img {
	display: block;
}

div.avatar {
	float: left;
}

div.avatar > a > img {
	border: 0px;
	text-align: center;
}

div.changelocation {
}

img.loading {
	display: none;
	float: left;
}

div.mapinfo {
	display: none;
}

img.saving {
	display: none;
}

select#id_country > option[disabled=disabled] {
	font-size: 1.4em;
	font-weight: bold;
	background: #ECECEC;
}
