{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="/site_media/js/jquery.changepass.js"></script>
{% endblock %}
{% block content %}
<h1>{% trans 'Password change' %}</h1>
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<form class="userdata biglabel" method="post" action="">
  <fieldset>
    <label for="id_newpass1">{% trans "New password:" %}</label>
    {{ form.newpass1 }}
    <label for="id_newpass2">{% trans "Confirm password:" %}</label>
    {{ form.newpass2 }}
    <br />
		<input type="submit" value="{% trans 'Change my password' %}" />
  </fieldset>
  {% if form.errors %}
  <div class="errmsg">
    <p>{{form.errors}}</p>
  </div>
	{% endif %}
</form>
<p><a href="/accounts/profile">{% trans "Return to my profile" %}</a></p>
{% endblock %}
