<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/site_media/css/common.css" type="text/css" />
    {% block customcss %}{% endblock %}
    <script type="text/javascript" src="/site_media/js/jquery-1.2.1.js"></script>
    <script type="text/javascript" src="/site_media/js/json.js"></script>
    {% block customjs %}{% endblock %}
</head>
{% load i18n %}
<body>
<div id="content">
<div style="float: right;">
  {% if user.is_authenticated %}
  	<a href="/accounts/logout">{% trans "Logout" %}</a>
	{% else %}
  	<a href="/accounts/profile">{% trans "Login" %}</a>
  {% endif %}
</div>
{% block content %}{% endblock %}
</div>
</body>
</html>
