<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/site_media/css/common.css" type="text/css" />
    {% block customcss %}{% endblock %}
    <script type="text/javascript" src="/site_media/js/jquery-1.2.1.js"></script>
    <script type="text/javascript" src="/site_media/js/json.js"></script>
    {% block customjs %}{% endblock %}
</head>
{% load i18n %}
<body>
<div id="content">
<div style="float: right;">
	<ul>
		<li style="display: inline;"><a href="/">{% trans "Frontpage" %}</a> | </li>
  	{% if user.is_authenticated %}
		<li style="display: inline;"><a href="/profile">{% trans "Profile" %}</a> | </li>
   	<li style="display: inline;"><a href="/accounts/logout">{% trans "Logout" %}</a></li>
		{% else %} 
		<li style="display: inline;"><a href="/profile">{% trans "Login" %}</a></li>
  	{% endif %}
		</li>
  </ul>
</div>
{% block content %}{% endblock %}
</div>
</body>
</html>
