{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "User login" %}{% endblock %}

{% block customjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.login.js"></script>
{% endblock %}

{% block content %}
<h1>{% trans "User login" %}</h1>
<div class="center">
	<form class="login commonform" method="post" action="{% if next %}?next={{ next }}{% endif %}">
		<fieldset>
			<div>
    		<label for="id_username">{% trans "Username:" %}</label>
    		{{ form.username }}
			</div>
			<div>
    		<label for="id_password">{% trans "Password:" %}</label>
    		{{ form.password }}
			</div>
    	<p class="lostpw"><a href="/accounts/password/reset/">{% trans "Have you lost your password?" %}</a></p>
    	<input type="submit" value="{% trans 'Login' %}" />
  	</fieldset>
  	{% if form.has_errors %}
		{% ifequal form.username.errors.pop "This account is inactive." %}
  	<p class="error">{% trans "This account has not been activated yet. You must have received an e-mail with instructions to activate it. If you want to resend the e-mail, please, click" %} <a href="/accounts/validation/reset/">{% trans "here" %}</a>.</p>
		{% else %}
  	<p class="error">{% trans "Your username and password didn't match. Please try again." %}</p>
		{% endifequal %}
		{% endif %}
	</form>
</div>
{% endblock %}

