{% load i18n %}
<ul class="profilemenu">
	<li {% ifequal section "overview" %}class="active"{% endifequal %}><a href="/account/manage/">{% trans "Overview" %}</a></li>
	<li {% ifequal section "password" %}class="active"{% endifequal %}><a href="/account/password/change/">{% trans "Change password" %}</a></li>
	<li {% ifequal section "email" %}class="active"{% endifequal %}><a href="/account/email/change/">{% if request.user.email %}{% trans "Change email" %}{% else %}{% trans "Add email" %}{% endif %}</a></li>
</ul>
