{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.pwdchg.js"></script>
{% endblock %}
{% block content %}
<h1>{% trans 'Password change' %}</h1>
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<form class="commonform pwdchg" method="post" action="">
  <fieldset>
		<div>
    	<label for="id_newpass1">{% trans "New password:" %}</label>
    	{{ form.newpass1 }}
		</div>
		<div>
    	<label for="id_newpass2">{% trans "Confirm password:" %}</label>
    	{{ form.newpass2 }}
      <img id="password_img" src="{{ MEDIA_URL }}images/loading.gif" />
		</div>
		<input type="submit" value="{% trans 'Change my password' %}" />
  </fieldset>
  {% if form.errors %}
  <p class="error">{{form.newpass2.errors|join:","}}</p>
  {% endif %}
</form>
{% endblock %}
