{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="/site_media/js/jquery.passwd-reset.js"></script>
{% endblock %}

{% block content %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</p>

<form class="commonform passwd" action="" method="post">
  <fieldset>
    <p>
      <label for="id_email" style="width: 170px;">{% trans 'E-mail address:' %}</label>
      {{ form.email }}
			<img id="email_img" src="/site_media/images/loading.gif" />
    </p>
    <input type="submit" value="{% trans 'Reset my password' %}" />
  </fieldset>
  {% if form.errors %}
  <p class="error">{{form.email.errors|join:","}}</p>
  {% endif %}
</form>
{% endblock %}
