{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="/site_media/js/jquery.changepass.js"></script>
{% endblock %}
{% block content %}
<h1>{% trans 'Password change' %}</h1>
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<form class="userdata biglabel" method="post" action="">
  <fieldset>
		<div style="overflow: hidden; margin-bottom: 5px;">
    	<label for="id_newpass1">{% trans "New password:" %}</label>
    	{{ form.newpass1 }}
		</div>
		<div style="overflow: hidden; margin-bottom: 5px;">
    	<label for="id_newpass2">{% trans "Confirm password:" %}</label>
    	{{ form.newpass2 }}
    	<div id="passmsg2" class="message">
    	{% if form.password2.errors %}{{ form.password2.errors|join:", " }}{% endif %}
    	</div>
		</div>
    <br />
		<input type="submit" value="{% trans 'Change my password' %}" />
  </fieldset>
  {% if form.errors %}
  <div class="errmsg">
    <p>{{form.errors}}</p>
  </div>
	{% endif %}
</form>
<p><a href="/profile">{% trans "Return to my profile" %}</a></p>
{% endblock %}
