{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="/site_media/js/jquery.passwd-reset.js"></script>
{% endblock %}

{% block content %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</p>

<form class="userdata" action="" method="post">
  <fieldset>
    <div style="overflow: hidden; margin-bottom: 5px;">
      <label for="id_email" style="width: 170px;">{% trans 'E-mail address:' %}</label>
      {{ form.email }}
      <div id="emailmsg" class="message">
        {% if form.username.errors %}{{ form.username.errors|join:", " }}{% endif %}
      </div>
    </div>
	  <br />
    <input type="submit" value="{% trans 'Reset my password' %}" />
  </fieldset>
  {% if form.errors %}
  <div class="errmsg">
    <p>{{form.email.errors}}</p>
  </div>
  {% endif %}
</form>
{% endblock %}
