{% extends "base.html" %}

{% block title %}{% trans "Registration complete" %}{% endblock %}
{% load i18n %}
{% block content %}
<h1>{% trans "Registration complete" %}</h1>
<p class="intro">{% trans "You have successfully registered a new account. Access" %} <a href="/profile/">{% trans "your profile" %}</a> {% trans "to add more information about you (your e-mail for example), or go to the" %} <a href="/accounts/login/">{% trans "login page" %}</a> {% trans "to authenticate and start using this site." %}</p>
{% endblock %}
