{% extends "base.html" %}
{% load i18n %}
{% block title %}Sign up{% endblock %}
{% block customjs %}
<script type="text/javascript" src="/site_media/js/jquery.registration.js"></script>
{% endblock %}
{% block content %}
<h1>{% trans "User registration" %}</h1>
<p>{% trans "You only need a valid username and a password to get access to the private content of this site." %}</p>
<form class="userdata biglabel" id="registration" method="post" action="">
	<fieldset>
	<div style="overflow: hidden; margin-bottom: 5px;">
   	<label for="id_username">{% trans "Username:" %}</label>
   	{{ form.username }}
   	<div id="usermsg" class="message">
		{% if form.username.errors %}{{ form.username.errors|join:", " }}{% endif %}
		</div>
	</div>
	<div style="overflow: hidden; margin-bottom: 5px;">
   	<label for="id_password1">{% trans "Password:" %}</label>
   	{{ form.password1 }}
   	<div id="passmsg1" class="message">
		{% if form.password1.errors %}{{ form.password1.errors|join:", " }}{% endif %}
		</div>
	</div>
	<div style="overflow: hidden; margin-bottom: 5px;">
   	<label for="id_password2">{% trans "Password again:" %}</label>
   	{{ form.password2 }}
   	<div id="passmsg2" class="message">
		{% if form.password2.errors %}{{ form.password2.errors|join:", " }}{% endif %}
		</div>
		<input type="hidden" name="tos" value="1" />
		<br />
	</div>
   	<input type="submit" value="{% trans 'Register' %}" />
	</fieldset>
</form> 
{% endblock %}
